body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #000000;
     background:url('BG/109613533.gif');
    background-attachment:scroll;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

p img { border:10px solid black; width:750px; height:400px;}
a img { border:10px solid black; width:300px; height:200px;} 
img {  width:120px; height:120px; border:10px solid black;}


.status {font-size: 19px;}
.status on { color: #80FF00; }
.status off { color: #FF0040; }

.test{
background: rgba(150,150,150,0.5); 
width:700px;
text-shadow: 0 1px 0 rgba(0,0,0,.50);
}

.home{
background: rgba(150,150,150,0.5); 
width:500px;
text-shadow: 0 1px 0 rgba(0,0,0,.20);
}
