
<html>
<head>
<title>Floor 2</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Floor 2 nd</h1>
</div>
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/home_floor2" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>
{% endif %}


<div id="site"  >
<h2><p align="center"><a href="/home"><input type="submit" value="Back" id="Select Time" ></a></p></h2>

{% if user.is_authenticated %}
<table id="id_room_table" align="center" class="test">
<tr><td>
{% if user.username == 'AdamFrk' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/ad_cat.jpg">
{% else %}
<img src="static/styles_home/BG/6.jpg">
{% endif %}

</td>


<td> Adam&Catthy room<br/>

Status :<a class="status"> {% if Light2_.status1 == '1' %}&nbsp; <on>ON </on>{% else %}<off>OFF</off>{% endif %}</a>&emsp;
{% if user.username == 'AdamFrk' or user.username == 'cattylover'%}
<form method="POST" action="/home_floor2">
            <input type="submit" value="OFF/ON" id="light1" >
            <input type="hidden" value="light1_t" name="light1_floor1" >
            {% csrf_token %}
        </form>
{% endif %}
</td>
<td>&nbsp;&nbsp;&nbsp;</td>


<td>
{% if user.username == 'AdamFrk' or user.username == 'S_sea' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/sophia.jpg" >
{% else %}
<img src="static/styles_home/BG/6.jpg" >
{% endif %}

</td><td>Sophia room<br/>
Status :<a class="status"> {% if Light2_.status2 == '1' %}&nbsp;<on>ON </on>{% else %}<off>OFF</off>{% endif %}</a>&emsp;
{% if user.username == 'AdamFrk' or user.username == 'S_sea' or user.username == 'cattylover'%}
<form method="POST" action="/home_floor2">
            <input type="submit" value="OFF/ON" id="light2" >
            <input type="hidden" value="light2_t" name="light2_floor1" >
            {% csrf_token %}
        </form>
{% endif %}

</td></tr>

<tr><td>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/8.jpg" >
{% else %}
<img src="static/styles_home/BG/6.jpg" >
{% endif %}
</td><td>Bathroom<br/>
Status :<a class="status"> {% if Light2_.status3 == '1' %}&nbsp;<on>ON </on>{% else %}<off>OFF</off>{% endif %}</a>&emsp;
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<form method="POST" action="/home_floor2">
            <input type="submit" value="OFF/ON" id="light3" >
            <input type="hidden" value="light3_t" name="light3_floor1" >
            {% csrf_token %}
        </form>
{% endif %}
</td>
<td>&nbsp;&nbsp;&nbsp;</td>

<td>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/7.jpg">
{% else %}
<img src="static/styles_home/BG/6.jpg">
{% endif %}

</td><td>Work out room<br/>
Status :<a class="status"> {% if Light2_.status4 == '1' %}&nbsp;<on>ON </on>{% else %}<off>OFF</off>{% endif %}</a>&emsp;
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<form method="POST" action="/home_floor2">
            <input type="submit" value="OFF/ON" id="light4" >
            <input type="hidden" value="light4_t" name="light4_floor1" >
            {% csrf_token %}
        </form>
{% endif %}
</td></tr>

















{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}
</div>

</body>

</html> 
