
<html>
<head>
<title>Home's Group1</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Home Automatics</h1>
</div>

<script type="text/javascript">
function changeNavigation(id) 
{document.getElementById('main').innerHTML=document.getElementById(id).innerHTML} 
</script>







{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/login_page" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form></p>

{% endif %}

<div  id="main">
 <p align="center"><img src="static/styles_home/BG/25571015_050154_project_2042839_big.jpg"width=750 height=400> </p>
{% if user.is_authenticated %}
<span onClick="changeNavigation('select')" name="enter site" ><p align="center">&nbsp;&nbsp;&nbsp;[enter home's site]&nbsp;&nbsp;&nbsp;</p></span>
{% endif %}
</div>

<div id="select" style="display: none">
{% if user.is_authenticated %}
<h2><p align="center"><a href="/Select_floor"><input type="submit" value="Select Time" id="Select Time" ></a></p></h2>
<h2><p align="center"><a href="/home"><input type="submit" value="Select Now" id="Select Time" ></a></p></h2>
<h2><p align="center"><a href="/tableSigle"><input type="submit" value="See TableSigle" ></a></p></h2>
<h2><p align="center"><a href="/tableRepeated"><input type="submit" value="See TableRepeat" ></a></p></h2>
{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}

</div>

</body>

</html> 
