
<html>
<head>
<title>Select time</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Repeated Event : Select time</h1>
</div>




{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/home_floor1" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>
{% endif %}



<h2><p align="center"><a href="/select/{{Light_id}}/event/floor1/"><input type="submit" value="Back" ></a></p></h2>


{% if user.is_authenticated %}


<form method="POST" >
  	</br>
<h3><p align="center">-----------------------------------------------------------------</p></h3>
  	<h3><p align="center">State :
                                     <input type="radio" name="state" value="1" checked> Toggle State
                                     <input type="radio" name="state" value="2"> ON State
                                     <input type="radio" name="state" value="3"> OFF State</h3>
<h3><p align="center">-----------------------------------------------------------------</p></h3>
<h3><p align="center"> Every :<h style="color:red">*Please,type time </h>:</br>
 <input name="Every_text" id="Every" placeholder="15" /> mins</p></h3>


          <p align="center">  <input type="submit" value="OK"        id="submit_update_Light2"  >
            <input type="hidden" value="submit_send_update"  name="Update_send_Light">
            <INPUT Type = "hidden" value ="{{Light_id}}" name = 'id_update'>
	    <br>

<p>
            {% csrf_token %}
</form>


<h2><p align="center"><a href="/tableRepeated"><input type="submit" value="See Table" ></a></p></h2>
      



{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}

</div>

</body>

</html> 
