
<html>
<head>
<title>Floor 1</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Floor 1 st</h1>
</div>
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/home_floor1" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>
{% endif %}

<div id="site" >
<h2><p align="center"><a href="/Select_floor"><input type="submit" value="Back" id="Select Time" ></a></p></h2>

{% if user.is_authenticated %}
<table id="id_room_table" align="center" class="test">
<tr><td>


{% if user.username == 'AdamFrk' or user.username == '1935_Frank'%}
<img src="static/styles_home/BG/sara.jpg">
{% else %}
<img src="static/styles_home/BG/6.jpg">
{% endif %}

</td><td>Sara room<br/>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank'%}
        <form method="POST" action="/select/1/event/floor1/">
            <input type="submit" value="Select" id="Select1" >
            <input type="hidden" value="Select1_t" name="Select1_floor1" >
	    <br>
            {% csrf_token %}
        </form>
{% endif %}
</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/3.jpg" >
{% else %}
<img src="static/styles_home/BG/6.jpg" >
{% endif %}




</td><td>Kitchen<br/>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
        <form method="POST" action="/select/2/event/floor1/">
            <input type="submit" value="Select" id="Select2" >
            <input type="hidden" value="Select2_t" name="Select2_floor1" >
	    <br>
            {% csrf_token %}
        </form>
{% endif %}
</td></tr>
<tr><td>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/4.jpg">
{% else %}
<img src="static/styles_home/BG/6.jpg" >
{% endif %}

</td><td>Eating room<br/>

{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
        <form method="POST" action="/select/3/event/floor1/">
            <input type="submit" value="Select" id="Select3" >
            <input type="hidden" value="Select3_t" name="Select3_floor1" >
            {% csrf_token %}
        </form>
{% endif %}
</td>
<td>&nbsp;&nbsp;&nbsp;</td>
<td>
{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
<img src="static/styles_home/BG/5.jpg">
{% else %}
<img src="static/styles_home/BG/6.jpg">
{% endif %}


</td><td>Living room<br/>

{% if user.username == 'AdamFrk' or user.username == '1935_Frank' or user.username == 'cattylover'%}
        <form method="POST" action="/select/4/event/floor1/">
            <input type="submit" value="Select" id="Select4" >
            <input type="hidden" value="Select4_t" name="Select4_floor1" >
            {% csrf_token %}
        </form>
{% endif %}
</td></tr>





{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}

</div>

</body>

</html> 
