
<html>
<head>
<title>Select Time</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Select Time</h1>
</div>

{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/login_page" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>

{% endif %}


<div id="site">
{% if user.is_authenticated %}
<h2><p align="center"><a href="/select"><input type="submit" value="Back" id="Select Time" ></a></p></h2>
<table id="id_room_table" align="center" class="home">
<tr><td>
 <p align="center"><a href="/select_floor1"><a><img src="static/styles_home/BG/floor1.jpg"></a></a></td><td>&nbsp;&nbsp;&nbsp;<a href="/select_floor1">[Floor 1 st]</a> &nbsp;&nbsp;&nbsp;</td></p></td></tr>
 <tr><td><p align="center"><a href="/select_floor2"><a><img src="static/styles_home/BG/floor2.jpg"></a></a></td><td>&nbsp;&nbsp;&nbsp;<a href="/select_floor2">[Floor 2 nd]</a>&nbsp;&nbsp;&nbsp;</td></p></td></tr>
{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}

</div>

</body>

</html> 
