
<html>
<head>
<title>Select time</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Sigle Event : Select time</h1>
</div>
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/home_floor1" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>
{% endif %}

<div id="site" >
<h2><p align="center"><a href="/select/{{Light_id}}/event/floor1/"><input type="submit" value="Back"></a></p></h2>
</br>
{% if user.is_authenticated %}
 <form method="POST" >
  	<h3><p align="center">Status : <input type="radio" name="Status" value="1" checked> ON &nbsp;&nbsp;&nbsp; 
                                       <input type="radio" name="Status" value="0"> OFF</p></h3>
<h3><p align="center">-----------------------------------------------------------------</p></h3>
  	<h3><p align="center">Date :</br>
                                     <input type="radio" name="Date" value="1" checked> {{d1}}</br>
                                     <input type="radio" name="Date" value="2"> {{d2}}</br>
                                     <input type="radio" name="Date" value="3"> {{d3}}</br>
                                     <input type="radio" name="Date" value="4"> {{d4}}</br>
                                     <input type="radio" name="Date" value="5"> {{d5}}</br>
                                     <input type="radio" name="Date" value="6"> {{d6}}</br>
                                     <input type="radio" name="Date" value="7"> {{d7}}</p></h3>
<h3><p align="center">-----------------------------------------------------------------</p></h3>
<h3><p align="center"> Time :<h style="color:red">*Please,type time</h>:
 <input name="Time_text" id="Time" placeholder="18.05" /> (now ---> {{TimeNow}})</p></h3>









          <p align="center">  <input type="submit" value="OK"        id="submit_update_Light1"  >
            <input type="hidden" value="submit_send_update"  name="Update_send_Light">
            <INPUT Type = "hidden" value ="{{Light_id}}" name = 'id_update'>
	    <br>

<p>
            {% csrf_token %}
        </form>
<h2><p align="center"><a href="/tableSigle"><input type="submit" value="See Table" ></a></p></h2>


{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}

</div>

</body>

</html> 
