
<html>
<head>
<title>Table Repeated Event</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link href="/static/styles_home/style.css" rel="stylesheet" type="text/css" >

</head>



<body>

<div id="header">
<h1>Table Repeated Event</h1>
</div>
{% if user.is_authenticated %}
        <form method="POST" action="/">
            <p align="right">Welcome, {{ user.get_username }}.
            <input type="submit" value="logout" id="logout" >
            <input type="hidden" value="go_logout" name="submit_logout_page" >
            {% csrf_token %}
        </form></p>
{% else %}
        <form method="POST" action="/home_floor1" style="float:right;">
            Welcome, new user. Please 
            <input type="submit" value="login" id="login" >
            <input type="hidden" value="go_login" name="submit_login_page" >
            {% csrf_token %}
        </form>
{% endif %}

<div id="site" >
<h2><p align="center"><a href="/select"><input type="submit" value="Back" ></a></p></h2>

{% if user.is_authenticated %}
<table id="id_room_table" align="center" class="test">
<tr><td>No. floor</td><td>No. light</td><td>State</td><td>Every</td><td>Delete</td> </tr>
{% for event in Events %}
<tr><td>     {% if event.light == '1' or event.light == '2' or event.light == '3'  or event.light == '4'%} 1 {% else%} 2{% endif %}</td><td>

  {% if event.light == '1' or event.light == '5' %} 1 
{% elif event.light == '2' or event.light == '6' %} 2 
{% elif event.light == '3' or event.light == '7' %} 3 
{% elif event.light == '4' or event.light == '8' %} 4 
{% endif %}

</td><td>{% if event.state == '1'%} Toggle state{% elif event.state == '2'%} ON state{% else%} OFF state{% endif %}
</td><td>{{event.time}}
</td><td>                  


                <FORM method="POST" action="/tableRepeated">
                     <INPUT Type="submit" VALUE="delete" id="button_d" >      
                     <INPUT Type = "hidden" value ="delete" name = 'delete'>
                     <INPUT Type = "hidden" value ="{{ event.id }}" name = 'id_delete'>
                     {% csrf_token %}
                 </FORM></td>





</td></tr>
{% endfor %}





{% else %}
<h style="color:red">*Please,log in to indicate member of my family.</h>:
{% endif %}

</div>

</body>

</html> 
